<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="loading-screen">
        <p>Loading...</p>
  
      </div>
      <hr class="main" />
      <br/>
      <div id="main-container">
        <div id="drop-zone" ondragover="handleImage();">
          <label for="image-loader">Drag/Drop, Paste (Ctrl+V), or</label>
          <input type="file" id="image-loader" name="image-loader"  accept=".jpg, .jpeg, .png, .webp" />
        </div>
        <br/>
        <canvas id="image-canvas" onclick="link.target = '_blank';"></canvas>
  
        <div style="display:flex; justify-content: center;">
          <button class="important-button"  id ="download-button" type="button" onclick="downloadImage()">↓ Download ↓</button>
          <button class="important-button" id ="reset-button" type="button" onclick="reset()">Reset Image</button>
        </div>
  
        <div style="text-align: center">
          <h3 id = "loading">Select a theme</h3>
          <div id="palette" style="height:1em;">
          </div>
          <hr class="body"/>
  
          <button class = "theme-button" type="button" onclick="changeTheme('Latte')">Latte</button>
          <button class = "theme-button" type="button" onclick="changeTheme('Frappé')">Frappé</button>
          <button class = "theme-button" type="button" onclick="changeTheme('Macchiato')">Macchiato</button>
          <button class = "theme-button" type="button" onclick="changeTheme('Mocha')">Mocha</button>
        <br/>
        <hr class="body"/>
  
        <button class = "theme-button" id ="custom" type="button" onclick="openCustomMenu()"> Custom Theme </button>
       
        <div id="custom-menu">
          <button  type="button" onclick="addColour()">+</button>
          <button  type="button" onclick="removeColour()">-</button>
  
          <div id="colours" style="padding: 0.5em; display:block;">
          </div>
          <br/>
          <button type="button" onclick="closeCustomMenu()">Done</button>
        </div>
  
        <hr class="body"/>
          <button class="important-button" id="convert" type="button" onclick="initialize()">Convert</button>
        </div>
      </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
